<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>História da Fatec Sorocaba</title>
</head>

<body>
	<p>
	A Faculdade de Tecnologia de Sorocaba, denominada desde 2011 como FATEC José Crespo Gonzales,[4] também conhecida como Fatec Sorocaba ou simplesmente FATEC para os Sorocabanos, é uma instituição pública de ensino superior pertencente ao Centro Estadual de Educação Tecnológica Paula Souza (CEETEPS) e vinculada a UNESP.
	</p>
	<br>
	<br>
	<p>
	A Fatec Sorocaba foi criada em 20 de maio de 1970 pelo Governador do Estado de São Paulo, Dr. Roberto Costa de Abreu Sodré. Foi a primeira instituição pública de ensino superior da cidade e a primeira FATEC do estado
	</p>
</body>
</html>