<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>História da Fatec Sorocaba</title>
</head>

<body>
	<ul> Professores da Fatec Sorocaba:
	<li>Munari</li>
	<li>Denilce</li>
	<li>Levi</li>
	<li>Etc</li>
	</ul>
</body>
</html>